<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>shooter</title>

    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script th:src="@{/js/jquery.js}"></script>
</head>
<canvas class="game-board" id="canvas" width="900" height="900"></canvas>
<div id="clientId"  th:text="${randomNumber}" style="display: none">
    <img alt="sry, your image is in another castle" th:src="@{/images/bullet.png}">
    <img alt="sry, your image is in another castle" th:src="@{/images/survivor.png}">
</div>

<button onclick="connect()" >connect</button>



<script th:src="@{/js/gamelogic.js}"></script>

<style>
    canvas {
        background-color: grey;
        z-index: -10;
    }


    canvas player{
        z-index: 1;
    }
    canvas player img{
        z-index: 10;
    }
</style>

</html>